@import "../../main.scss";

.WeatherCard {
    min-height: 20rem;
    border-radius: 0.6rem;
    transition: box-shadow 1s ease-out;
    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
    }
    &__icon {
        max-width: 2.5rem;
    }
    &__temp {
        font-size: 6rem;
        line-height: 1;
        height: 40%;
    }
    &__desc {
        &__img {
            min-width: 6rem;
        }
    }
    &__content {
        height: 100%;
        &__columns {
            height: 100%;
        }
        &__city {
            min-height: 40%;
            line-height: 2;
        }
    }
    &__appear {
        transition: ease-in 2s;
    }
}

@include for-up-to-phone {
    .WeatherCard {
        &__content {
            &__columns {
                &.is-mobile {
                    display: block;
                }
            }
        }
        &__temp {
            font-size: 3rem;
        }
    }
}
