@import "../main.scss";

.MainNavbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    &__logo {
        margin-right: 1rem;
        & img {
            max-height: 5.75rem;
        }
    }

    & #main-nav-toggle-state {
        display: none;
        &:checked ~ .navbar-menu {
            display: block;
        }
    }
    & .input {
        min-height: 3rem;
        min-width: 13rem;
        box-shadow: none;
    }

    &.navbar {
        background-color: whitesmoke;
        z-index: 31;
    }

    & .navbar {
        &-brand {
            align-items: center;
        }
        &-burger {
            margin-right: 2rem;
        }
        &-menu {
            background-color: whitesmoke;
        }
    }
}

@include for-up-to-desktop {
    .MainNavbar {
        & .navbar {
            &-item {
                display: flex;
                justify-content: flex-end;
                margin-right: 2rem;
            }
        }
    }
}

@include for-up-to-phone {
    .MainNavbar {
        & .navbar {
            &-item {
                justify-content: center;
                margin-right: 0rem;
            }
        }
    }
}
