@import "../styles/_mixins.scss";

.TFNavbar {
  &__logo {
    max-width: 150px;
    max-height: 40px;
    & img {
      max-height: 100%;
    }
  }
}

.dropdown {
  &-item {
    font-size: 1.6rem;
  }
}

.navbar {
  &-item {
    & button {
      font-size: 1.6rem;
    }
  }
}

#nav-toggle-state {
  display: none;
  &:checked ~ .navbar-menu {
    display: block;
  }
}

@include for-phone-and-tablet-portrait {
  .navbar,
  .navbar-end,
  .navbar-menu,
  .navbar-start {
    align-items: stretch;
    display: flex;
  }
  .navbar-burger {
    display: none;
  }
}
