@import "../../main.scss";

.TFNavbar {
  justify-content: space-between;
  &__logo {
    text-decoration: none !important;
    & img {
      max-height: 100%;
    }
  }

  & .dropdown {
    &-item {
      font-size: 1.6rem;
    }
    &-trigger {
      display: flex;
    }
  }

  & .navbar {
    &-item {
      background-color: $primary !important;
      & button {
        font-size: 1.6rem;
      }
    }
    &-brand {
      align-items: center;
    }
    &-menu {
      flex-grow: unset;
    }
  }

  & #tf-nav-toggle-state {
    display: none;
    &:checked ~{
      & .navbar-menu {
        display: flex;
        align-self: flex-end;
    
      }
    }
  }
}

@include for-up-to-desktop {
  .TFNavbar {
    display: flex;
    & .navbar {
      &-brand {
        align-content: space-between;
      }
      &-menu {
        display: flex;
        padding: 0;
        box-shadow: none;
        background-color: $primary;
      }
      &-item {
        display: flex;
        justify-content: flex-end;
      }
      &-burger {
        display: none;
      }
      &-start {
        display: flex;
        margin: auto;
      }
    }
  }
}

@include for-up-to-tablet-portrait {
  .TFNavbar {
    flex-direction: column;
    & .navbar {
      &-brand {
        width: 100%;
      }
      &-burger {
        display: block;
      }
      &-menu {
        display: none;
      }
    }
  }
}

@include for-up-to-phone {
  .TFNavbar {
    & .navbar {
      &-menu {
        width: 100%;
      }
      &-start {
        flex-direction: column;
      }
    }
    & button {
      min-width: 23.2rem;
    }
  }
}