@import "../../main.scss";

.TFNavbar {
  justify-content: space-between;
  &__logo {
    text-decoration: none !important;
    & img {
      max-height: 100%;
    }
  }
  & .navbar {
    &-item {
      background-color: $primary !important;
      & button {
        font-size: 1.6rem;
      }
    }
    &-menu {
      flex-grow: unset;
    }
  }

  & #nav-toggle-state {
    display: none;
    &:checked ~ .navbar-menu {
      display: block;
    }
  }
}

.dropdown {
  &-item {
    font-size: 1.6rem;
  }
  &-trigger {
    display: flex;
  }
}

@include for-up-to-desktop {
  .TFNavbar {
    display: flex;
    align-items: stretch;
    & .navbar {
      &-menu {
        display: flex;
        background-color: $primary !important;
        box-shadow: none;
      }
      &-start {
        display: flex;
      }
      &-item {
        display: flex;
        align-items: center;
      }
      &-burger {
        display: none;
      }
    }
  }
}

@include for-up-to-phone {
  .navbar-burger {
    display: block;
  }
}