@import "./main.scss";

.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.Site-under-construction {
  font-size: 3rem;
}

.Section {
  &__navbar {
    padding-bottom: 0;
  }
  &__tiles {
    max-width: 144rem;
    margin: 0 auto;
  }
}

.Box {
  &__tf {
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
  }
}

.Wrapper {
  &__TFTile {
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    }
    &.tile {
      padding: 0;
      margin: 0.75rem;
    }
  }
}

@include for-up-to-phone {
  .Section {
    &__main {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &__tiles {
      padding-left: 0;
      padding-right: 0;
      padding-top: 2rem;
    }
  }
  .Wrapper {
    &__TFTile {
      &.tile {
        padding: 0;
        padding-bottom: 1.5rem;
      }
    }
  }
  .Site-under-construction {
    font-size: 2rem;
  }
}

@include for-up-to-extra-small-devices {
  .Wrapper {
    &__TFCard {
      padding-top: 0.325rem;
      padding-bottom: 0.325rem;
    }
  }
}