@import "./main.scss";

.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.Site-under-construction {
  font-size: 3rem;
}

.Section {
  &__navbar {
    padding-bottom: 0;
  }
}

@include for-up-to-phone {
  .Section {
    &__main {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &__tf {
      padding-left: 0;
      padding-right: 0;
      padding-top: 2rem;
    }
  }
  .Wrapper {
    &__TFTile {
      &.tile {
        padding: 0;
        padding-bottom: 1.5rem;
      }
    }
  }
}
